

name: Auto_proxy
# w1770946466 北慕白  https://github.com/w1770946466/Auto_proxy
# 触发条件
on:
  workflow_dispatch:

  schedule:
    # - cron: '*/5 * * * *'
    # 表达式生成  https://crontab.guru/
    - cron: '0 */600 * * *'

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
    - name: 迁出代码
      uses: actions/checkout@v2
    - name: 安装Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: 加载缓存
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('**/run_in_Actions/requirements2.txt') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: 设置时区
      run: sudo timedatectl set-timezone 'Asia/Shanghai'
    - name: 安装依赖
      run: |
        pip install -r ./requirements2.txt
    - name: 执行任务
      run: |

        python ./TG_proxy_main.py
      
    - name: 提交更改
      run: |                 
        git config --global user.name "GitHub Actions"
        git config --global user.email "actions@github.com"
        git pull origin main
        git add ./sub/*
        git add ./Long_term_subscription_num    
        git commit -m "$(date '+%Y-%m-%d %H:%M:%S') "
        
    - name: 推送更改
      uses:  ad-m/github-push-action@master
      with:
        branch: main
